RewriteEngine On
RewriteBase /VivaToUR/

# Mevcut dosya veya dizinler için
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tüm istekleri index.php'ye yönlendir
RewriteRule ^(.*)$ index.php [QSA,L]